<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="ISO-8859-1"/>
<title>View Data</title>
</head>
<body>
<table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr> 
        <tr th:each="stud: ${list}">
                <td th:text="${stud.pid}"></td>
                <td th:text="${stud.name}"></td>
                <td ><a th:href="@{'view/'+ ${stud.pid}}">Update</a></td>
                 <td ><a th:href="@{'delete/'+ ${stud.pid}}">Delete</a></td>
        </tr>
</table>
<a href="/">Home</a><br/>
</body>
</html>
